.App {
  text-align: center;
}



.App-link {
  color: #61dafb;
}


body{
  background: linear-gradient(
    to left,
    #282c34 0%,
    #8692ab 100%
  
  );
  color: white;
}

.h-h1{
  font-style: oblique;
  font-size: 60px;
  margin: 7vh 0 0 7vh;
  padding: 0;
  color: #9bfeee;
}